@import 'init','variables';

body {
    background:linear-gradient($Soft-violet,$Soft-blue) no-repeat;
    font-family:'Kumbh Sans', sans-serif;
    color:$color-text-main;
    font-size: 1.2rem;
}

.main {
    padding:14.8rem 2.4rem 8.5rem;
    width:100%;
}

.card {

    @include flexCenter(column);

    background:$background-article-card;
    border-radius: 2.3rem;
    box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
    padding:13.2rem 2.4rem 4.8rem;
    max-width:32.7rem;
    margin:auto;
    position:relative;

    &__image-mb {
        position: relative;
        top:-109px;
        left:-3px;
    }

    &__image-cube {
        display:none;
    }

    &__image-wrapper {
        background:url(../images/bg-pattern-mobile.svg) no-repeat;
        background-position-x: 20px;
        position:absolute;
        top:0;
        left: 25px;
    }
    
    &__heading {
        margin-bottom:3.8rem;
        font-size: 3.2rem;
        line-height: 3.2rem;
        font-weight: 700;
        text-align: center;
    }

    &__item {
        border-bottom:1px solid $border-color;
    }

    &__content {
        width: 100%;
    }

    &__q-img {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.question__arrow {
    transition: transform 0.5s;
    transform: rotate(0deg); 
}

.answer__body, .question__body {
    padding:2rem 0rem 1.9rem;
}

.question__body {
    font-size: 1.3rem;
}

.answer__body {
    padding-top:0;
    line-height: 1.8rem;
    width: 90%;
    display:none;
}

.answer-visible {
    display:block;
}

.question-selected {
    font-weight:700;
    color:#1E1F36;
}

.arrow-up {
    transition: transform 0.5s;
    transform: rotate(-180deg);
}

.arrow-down {
    transition: transform 0.5s;
    transform: rotate(0deg);
}

@media screen and (min-width:1000px) {

    body {
        height:100vh;
        display: flex;
    }

    .main {
        width:92rem;
        padding:0;
        margin:auto;
    }

    .card {
        @include flexCenter(row);

        max-width:92rem;
        width: 92rem;
        padding:6.5rem 9.5rem 8.3rem 47.5rem;

        &__content {
        width: 35rem;
        }

        &__heading {
            text-align: left;
            margin-bottom:2.6rem;
        }

        &__image-wrapper {
            height:100%;
            width:50%;
            position:absolute;
            left:0;
            background-image:url(../images/illustration-woman-online-desktop.svg), url(../images/bg-pattern-desktop.svg);
            background-position: -82px 72px, -575px -300px;
        }

        &__image-mb {
            display: none;
        }

        &__image-cube {
            display:block;
            position:relative;
            top:208px;
            left:-95px;
        }

        &__image-dt {
            display: block;
            position:relative;
            left:0;
            top:0;
        }
    }

    .question__body {
        font-size: 1.4rem;
    }

}